[Unit]
Description=Captive Wifi Configuration Server
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/node {{ wifi_config_path }}/server.js
WorkingDirectory={{ wifi_config_path }}
Restart=on-failure
RestartSec=30
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=wifi-configuration
User=root
Group=root

[Install]
WantedBy=multi-user.target
